*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor
{
    width: 100ww;
    height: 100ww;
}

a
{
    display: block;
    text-decoration: none;
    padding:5px;
}

div.sidebar
{
    
}