* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background: rgb(38, 38, 38);
}

@keyframes myAnim {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

#Encabezado {
    text-align: center;
    animation: myAnim 2s linear 0s 0.5 normal forwards;
}

#theliminar {
    color: red;
}

#theditar {
    color: green;
}

#Actualizar {
    color: green;
}

#btnagg
{
    font-size: 30px;
    padding:12px 28px;
    border-radius: 10px;
}

#fotoempleado {
    display: block;
    margin: auto;
}

div.usuarios
{
    display: flex;
}