*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor
{
    width: 100vw;
    height: 100vw;

}

div.sidebar
{
    position: static;
    background-color: yellow;
    width: 200px;
    height: 100%;
    overflow: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a
{
    display: block;
    text-decoration: none;
    padding: 5px;
}

a:hover
{
    background-color: white;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.content
{
    float: left;
    width: calc(100% - 200px);
    background-color: aqua;
    padding: 1px 16px;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenidoOpcion
{
    display: none;
}

input {display: none;}

input:checked + .sidebar
{
   display: none;
}

@media screen 
{
    div.sidebar
    {
        float: none;
        width: 100%;
        height: auto;
    }
    .sidebar a {float: left;}

    div.content {margin-left: 0; width: 100%;}
}

h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}